@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 480px) {
  .vm--modal {
    left: 0!important;
    top: 0!important;
    width: 375px!important;
    height: 812px!important;
  }
}